.tweets {
    padding: 10px 0px;
}

.tweets + .tweets {
    border-top: black solid 1px;
}

.tweets .rt_status {
    color: gray;
}

.tweets .names .username {
    font-weight: bold;
    margin-right: 10px;
}

.tweets .names .displayname {
    color: gray;
}

.before_displayed {
    display: none;
}
