:root {
    --font-size: 16px;
}

body {
    line-height: 150%;
}

/*grid*/
.tweet_body {
    display: grid;
    grid-template-columns: 50px auto;
}

.tweet_body .profile_img {
    grid-column: 1/2;
}

.tweet_body .contents {
    grid-column: 2/3;
}

.tweets {
    padding: 10px 0px;
}

.tweets + .tweets {
    border-top: black solid 1px;
}

.tweets .rt_status {
    color: gray;
}

.contents .reply_status {
    color: gray;
}

.contents .names .username {
    font-weight: bold;
    margin-right: 10px;
}

.contents .names .displayname {
    color: gray;
}

