body {
    line-height: 150%;
}

.tweets {
    padding: 10px 0px;
    transition: .7s;
    opacity: 0;
}

.tweets, .shown {
    opacity: 1;
}

.tweets + .tweets {
    border-top: black solid 1px;
}

.tweets .rt_status {
    color: gray;
}

.tweets .names .username {
    font-weight: bold;
    margin-right: 10px;
}

.tweets .names .displayname {
    color: gray;
}

.before_displayed {
    display: none;
}
